/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* chef aquino's special sauce */
html, body { margin: 0; padding: 0; height: 100%; width: 100%;
    font-family: Geneva, Arial, sans-serif;
}
/* body {
    background-image: url(/websitebackground.jpg);
} */

header {text-align: center;}

.formItems {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* outline: 1px blue solid; */
    margin: 1px;
}

.formItems>div {
    margin: 10px;
    text-align: center;
}

input, select {
    margin: 3px 3px 3px 1px;
    padding: 4px;
    font-size: small;
    border: 1px solid gray;
    border-radius: 4px;
}

#map {
    height: 66vh;
    width: 90%;
    /* outline: 1px red solid; */
}

.map-field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* border: 2px brown solid; */
    justify-content: center
}

.description {
    max-height: 25vh;
    overflow: scroll;
    padding: 10px;
    width: 90%;
    /* outline: 1px red solid; */

}

.changeWidth {
    /* width: 30%; */
    /* width: 90%; */
}

.noResults {
    color: brown;
    text-align: center;
    margin: 8px 0;
}

.noDisplay {
    display: none;
}

.eventList {
    /* padding: 10px; */
    overflow: scroll;
    height: 50vh;
    margin: 2px;
    width: 100%;
}

.eventList>header {padding: 5px;}
header>button {font-size: 10px; margin: 3px}

summary {margin: 15px 0;}
details>div>p {padding: 0 30px;}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(245, 229, 180);
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



@media screen and (min-width: 650px) {
    .map-field {flex-direction: row;}

    .formItems {
        width: 33%;
        height: 66vh;
        justify-content: flex-start
    }

    .description {max-height: unset;}

    #map {width: 66%;}
}


@media screen and (min-width: 1300px) {
    .map-field {flex-direction: row;}
    
    .formItems {
        width: 20%;
        height: 90vh;
        justify-content: flex-start
    }
    
    .description {max-height: unset;}
    
    #map {
        height: 90vh;
        width: 50%;
    }
    
    .eventList {
        overflow: scroll;
        height: 90vh;
        margin: 2px;
        width: 25%;
    }
}