/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* chef aquino's special sauce */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input {margin: 3px 3px 3px 1px}
section {
    padding: 10px;
    overflow: scroll;
    height: 50vh;
}


header {
    text-align: center;
}

/*  */
#map {
    height: 50vh;
    width: 66%;
}

.formItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: i
}

.formItems>div {
    margin: 5px;
}

.map-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px brown solid;
    justify-content: center
}

.description {
    width: 30%;
    height: 50vh;
    overflow: scroll;
    padding: 10px;

}
